*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}
/* Nav bar menu */

#main_nav{
    width: 100%;
    height: 3rem;
    background-color: #f8eded;
    display: flex;
    align-items: center;
    
}

.main-nav__logo__image{
    
    margin-left: 25px;
}
.nav_list_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60em;
    height: 3rem;

}

.nav_list{
    list-style: none;
    margin-left:10px;
    
}
.nav_list_items{
    display: inline-block;
    margin:20px;
    font-size: 1rem;
    
}

.nav_list_items a {
    text-decoration: none;
    color: black;
}

.nav_list_items a:hover{
    color: red;
}

#nav-more{
    color: #ff764d;
}

.nav_last_part{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60em;
    height: 3rem;
    margin-right:9px;
}
.nav_free_menu{
    list-style: none;
}
.nav_free_items{
    display: inline-block;
    margin:16px;
    font-size: 0.8rem;
}

.nav_free_items a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.try_me{
    color: #0000ff;
    font-size: medium;
}

/* Main -header */

#nav_other{
    margin-left: 1rem;
}

.main_header{
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    padding-left: 1rem;

}


.header1{
    color: 
    #ff764d
}
.header2{
    color: black;
}

.headers{
    background-image: url(images/ableton1.webp);
    width: 1200px;
  height: 80vh;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: 5rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

#main_header{

   text-align: center;
   position: absolute;
   z-index: 1;
   color: red;
   left:50%;
   top:50%;
   font-size: 5rem;
}

/* New-tag */



.new-tag{
   width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    line-height: 1.5;
    
}
.new-tag-p a{
    
    text-decoration: none;
    color: blue;
}

/* Body */

.body_3{
    position: relative;
    padding-bottom: 133.3333px;
    padding-top: 133.3333px;
    margin-bottom: 15rem;
    margin-top: 6rem;
    
    
}
.body_2{
    background-color:#FBFFA7;
    height: 700px;
    width: 933.333px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 666.6667px;
    
}

.body_1{
    background-image: url(images/photo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    z-index: 5;
    position: relative;
    vertical-align: middle;
    margin-left: 200px;
    height: 400px;
    width: 600px;
}

.body_4{
    background-image: url(images/photo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    z-index: 5;
    position: relative;
    vertical-align: middle;
    margin-left: 70px;
    height: 300px;
    width: 400px;

}

/*devam */

.devam{
    width: 600px;
    margin-top: 7rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 133.3333px;
   line-height: 1.5;
}

.devam1{
   margin: 0 auto;
   
}

/*media*/

.media{
    width: 600px;
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

/*article*/

.article{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-top: 9rem;
    margin-bottom: 2rem;
}


/*image*/

.image{
    position: relative;
    padding: 3rem;
    margin-bottom: 8.333vw;
    margin-top: 3rem;
    
}
.image1{
    background-color:#B6FFC0 ;
    position:absolute;
    z-index: 0;
    top: 0;
    height: 1200px;
    width: 58.3333vw;
    left: 0;
}
.image2{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    
}
.image3{
    background-image: url(images/photo-5.jpg);
    display: inline-block;
    position: relative;
    height: 41.6667vw;
    width: 41.6667vw;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    vertical-align: middle;
    z-index: 1;
    margin-left:8.3333vw
    
}

.image4{
    background-image: url(images/photo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
    width: 533.3333px;
    
}
.image5{
    background-image: url(images/photo-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
    width: 533.3333px;
    margin-top: 133.3333px;
    
}

/*article2*/

.article2{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-top: 300px;
}

/* new-media */

.new-media1{
    width: auto;

    margin-left: 8.3333vw;
    margin-right: 8.3333vw;
    margin-top: 4rem;

}
.new-media{
    height: auto;
    max-width: 100%;

}

/* yeni kisim */

.yeni-kisim{
    position: relative;
    width: 900px;
    height: 900px;
    padding-top: 8.333vw;
    padding-bottom: 8.3333vw;
    margin-bottom: 8.3333vw;
}

.yeni-kisim1{

    background-color: #D5B3FF;
    position:absolute;
    z-index: 0;
    top: 0;
    width: 66.6vw;
    height: 800px;
   left: 300px;


}
.yeni-kisim2{
    background-image: url(images/photo-6-a.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 80px;
    width: 400px;
    height: 300px;
    margin-left: 200px;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;

}

.yeni-kisim3{
    background-image: url(images/photo-7.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
    width: 500px;
    height: 500px;
    margin-left: 900px;
    vertical-align: middle;
    
    z-index: 1;

}
/* article1 */

.article1{
    margin-top: 1.2rem;
}

/* jobs */
.jobs{
    width: 1200px;
    height: 500px;
    background-color: #b1c5ff;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.job-photo{
    background-image: url(images/photo-8.jpg);
    height: 500px;
    width: 600px;
    background-size: cover;
    background-position: 50% 50%;
}

.job-text{
    width: 300px;
    margin: auto auto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
}


#job-link{
    display: inline-block;
    margin-top: 1.2rem;
    text-decoration: none;
   color: #0000ff;
}

/* footer Lists */

.header-footer{
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}
.footer-part{
    display: flex;
    flex-direction: column;
   
    width: 1200px;
}


.part-1{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.part-2{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.lists{
    list-style: none;
}
.lists a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: .5rem;
}

.list1 li:nth-child(4){
    display: inline-block;
    margin-top: .5rem;
} 

.list1 li:nth-child(4)>i{
    padding-right: .6rem;
    font-size: 35px;
}

.part-1-list-1 , .part-2-list-1 ,.part-3-list-1{
    width: 400px;
    
}

.part-1-list-2 , .part-2-list-2 , .part-3-list-2{
    margin-top: 3rem;
    width: 400px;
}
.part-3-list-1{
    
}
.part-3-list-1 p{
    margin-top: 1.2rem;
   
}

#email{
    margin-top:1.3rem ;
    height: 30px;
    width: 280px;
    background-color: #F9F9F9;
}
#email::placeholder{
    font-size: 1.2rem;
    font-weight:500 ;
    
}
.button-sign{
    background-color: #0000ff;
    color: white;
    width: 100px;
    height: 30px;
}

.part-3-list-2{
    margin-top: 3rem;
}

/* footer-end */

.footer-end{
    display: flex;
    width: 1200px;
    margin-top: 2rem;
    justify-content: space-between;
}

.list-footer1{
    display: flex;
    list-style-type:none;
    

}

.list-footer li a{
    text-decoration: none;
    padding-right: 1rem;
    font-size: small;
    color: black;
}

.made{
   margin-left: auto;
}

#berlin{
    display: inline-block;
    margin-right: 0;
    font-size: small;
}
#main-nav__logo__image{
    margin-left: 0;
   

}